/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #strona-glowna{
        /* justify-content: center; */
    }
    #sekcja-tytulowa{
        /* width: 100%; */
        height: 100vh;
        flex-direction: column;
    }
    #sekcja-onas{
        /* width: 100%; */
        height: 100vh;
    }
    #sekcja-galerii{
        /* width: 100%; */
        height: 100vh;
    }
    #sekcja-z-opisami{
        /* width: 100%; */
        height: 100vh;
    }
    #sekcja-dol-strony{
        /* width: 100%; */
        height: 100vh;
    }

    #tytolowa-laptop{
        height: 100vh;
    }
    
    #tytulowa-1{
        /* width: 100%; */
        height: 0;
    }
    #tytulowa-2{
        /* width: 100%; */
        height: 0;  
    }
    #tytulowa-3{
        /* width: 100%; */
        height: 0;
    }
    #tytulowa-4{
        /* width: 100%; */
        height: 0;
    }
}