@media (max-width: 767px) {
    /* *{
        border: 1px red solid;
    } */
    .line{
        border: 2px rgb(193, 193, 228) solid;
        width: 90vw;
        margin-top: 30px;
        border-radius: 3px;
    }
    
    #mapa {
        margin-top: 50px;
        width: 85vw;
    }

    #myModal {
        max-width: 100vw;
    }

    .my-gallery-container{
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
    
    .my-gallery-container h4{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .gallery-div{
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        max-width: 100vw;
    }

    .my-container {
        margin-top: 50px;
        max-width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
    .my-row {
        background: rgb(104,173,213);
        border: 1px solid rgb(104,173,213);
        border-radius: 5px; 
        height: 100px;
        width: 85vw;
        margin-left: 7.5vw;
        margin-top: 5px;
    }

    .my-row img{
        max-height: 100%;
    }

    .offer-container{
        width: 100vw;
        margin-top: 30px;
    }

    .row{
        max-width: 100vw;
    }
    
    .offer-container h4{
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .offer-div p{
        font-size: medium;
        margin: 0;
        max-width: 60vw;
    }

    .offer-div img{
        margin-top: 0;
        align-self: center;
    }

    .col-2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .col-10{
        display: flex;
        align-items: center;
    }

    .contact-text-div{
        word-wrap: break-word;
    }

    .contact-div p{
        font-size: medium;
        margin: 0;
        max-width: 60vw;
    }

    .contact-div a{
        font-size: medium;
        max-width: 60vw;
        margin: 0;
    }

    .contact-div img{
        margin-top: 0;
        align-self: center;
    }

    .contact-container{
        width: 100vw;
        margin-top: 50px;
    }
}