@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
 
.fade:hover {
   opacity: 0.25;
}

.animated p{
    font-size: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    position: absolute;
    margin-top: 80%;
    z-index: 10;
}

